<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bug Tracker</title>
    <style>
        .statistics{
            font-size: 18pt;
        }
        section{
            margin-bottom: 10px;
        }
        .closed{
             font-style: italic;
            color : red;
            text-decoration: line-through;
            font-weight: bold;
        }
        ol{
            width: 70%;
            list-style: none;
        }
        li{
            padding: 5px;
            margin-bottom: 5px;
            border : 1px solid gray;
            background-color: #e7e7e7;
            border-radius: 5px;
        }
        .bugname{
            font-size: 16pt;
            cursor: pointer;
        }
    </style>
    <!--
    Use Cases
    =========
    1. Add a bug - done
    2. Display the list of bugs - done
    3. Toggle the closed status of the bug - done
    4. Remove closed bugs - done
    5. Display statistics - done
    6. Search for the bugs
    7. Sort the bugs
    8. Improvise the bug displayed
    9. Persist the bugs in localStorage
    10. Display 'created at'
    11. Persist the bugs in the server
    12. Categorize the bugs
    -->
    <script src="angular.js"></script>
    <script>
        var bugTrackerApp = angular.module("bugTrackerApp", []);

       /* bugTrackerApp.value("Bug", function(defaults){
            defaults = defaults || {};
            this.name = defaults.name || '';
            this.isClosed = defaults.isClosed || false;
            this.toggle = function(){
                this.isClosed = !this.isClosed;
            };
        })*/

        bugTrackerApp.value('defaultBugName', '[New Bug Name]')

        bugTrackerApp.factory("Bug", function (defaultBugName){
            function Bug(defaults){
                defaults = defaults || {};
                this.name = defaults.name || defaultBugName;
                this.isClosed = defaults.isClosed || false;
            }
            Bug.prototype.toggle = function(){
                this.isClosed = !this.isClosed;
            };
            return Bug;
        });

        bugTrackerApp.controller("bugsController", function($scope, Bug){
            $scope.bugs = [
                new Bug({ name : 'Data persistence failure', isClosed : false}),
                new Bug({ name : 'Server communication disrupts', isClosed : true}),
                new Bug({ name : 'Internal Server error', isClosed : true}),
                new Bug({ name : 'Object reference not set to an instance of an object', isClosed : false}),
            ];
            //$scope.newBugName = '';
            $scope.addNew = function(){
                var newBug = new Bug({
                    name : $scope.newBugName,
                    isClosed : false
                });
                $scope.bugs.push(newBug);
                $scope.newBugName = '';
            };

            $scope.toggleBug = function(bug){
                bug.toggle();
            };

            $scope.removeClosed = function(){
                for(var i=$scope.bugs.length-1; i>=0; i--)
                    if ($scope.bugs[i].isClosed)
                        $scope.bugs.splice(i,1);
            };

            $scope.getClosedCount = function(){
                var result = 0;
                for(var i=0; i<$scope.bugs.length; i++)
                    if ($scope.bugs[i].isClosed)
                        ++result;
                return result;
            };
        });

    </script>
</head>
<body ng-app="bugTrackerApp">
    <h1>Bug Tracker</h1>
    <hr>
    <div class="content" ng-controller="bugsController">
        <section class="statistics">
            <span class="closed">{{getClosedCount()}}</span>
            <span>/</span>
            <span>{{bugs.length}}</span>
        </section>
        <section class="search">
            <label for="">Search :</label>
            <input type="text" ng-model="searchBug.name">
            <label for="">Is Closed :</label>
            <input type="checkbox" ng-model="searchBug.isClosed">
            <input type="button" value="Show All" ng-click="searchBug.isClosed = undefined" ng-hide="searchBug.isClosed == undefined">
        </section>
        <section class="sort">
            <label for="">Order By:</label>
            <input type="text" name="" id="">
            <label for="">Descending ? :</label>
            <input type="checkbox" name="" id="">
        </section>
        <section class="list">
            <label for="">Bug :</label>
            <input type="text" ng-model="newBugName">
            <input type="button" value="Add Bug" ng-click="addNew()">
            <input type="button" value="Remove Closed" ng-click="removeClosed()">
            <ol>
                <li ng-repeat="bug in (bugs | filter:searchBug) track by $index">
                    <span class="bugname" ng-click="toggleBug(bug)" ng-class="{closed : bug.isClosed}">{{bug.name}}</span>
                </li>
            </ol>
        </section>

    </div>
</body>
</html>
